<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="cabecalho">
      <ion-title>
        Home
      </ion-title>

      <ion-label>
        <a routerLink="/home" id="labelred">Home</a>
        <a routerLink="/busca" id="labelred">Busca</a>
        <a href="https://github.com/JvCaribe/projetoMobileCoding" target="_blank" id="labelred">
          GitHub
          <ion-icon src="assets/icon/logo-github.svg" aria-label="Repositório no Github"></ion-icon>
        </a>
      </ion-label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="home-container">

    <div class="banner">
      <h1>Bem-vindo ao Buscador de Filmes e Séries</h1>
      <p>
        Projeto desenvolvido para a disciplina de Mobile Coding.
      </p>
    </div>

    <div class="cards">


      <div class="card">
        <h2>Sobre o Projeto</h2>

        <p>
          Nosso sistema funciona como um buscador de filmes e séries,
          permitindo pesquisar títulos e visualizar informações detalhadas sobre eles.
        </p>

        <ul>
          <li>Página de busca de filmes/séries</li>
          <li>Página de detalhes do filme/série</li>
          <li>Navegação entre páginas usando rotas e parâmetros</li>
          <li>Integração com a API <a href="https://www.omdbapi.com/" target="_blank"><strong>OMdB</strong>(Open Movie
              Database)</a></li>
        </ul>
      </div>


      <div class="card">
        <h2>Tecnologias Utilizadas</h2>

        <ul>
          <li>Angular + Ionic</li>
          <li>TypeScript</li>
          <li>SCSS</li>
          <li>HTTPClient</li>
          <li>API de Filmes</li>
          <li>Pipes personalizados</li>
          <li>Diretivas personalizadas</li>
        </ul>
      </div>


      <div class="card">
        <h2>Participação da Equipe</h2>

        <div class="funcoes">

          <p>
            <strong>Ana Anete</strong><br>
            Diretiva personalizada e estruturais
          </p>

          <p>
            <strong>João Caribé</strong><br>
            Integração com API, criação e estilização das páginas 2 e 3. Criação de rotas e passagem de parâmetros entre
            elas.
          </p>

          <p>
            <strong>Danilo Lopes</strong> e
            <strong>João Vitor Vieira</strong><br>
            HTTPClient e Service
          </p>

          <p>
            <strong>João Lucas</strong><br>
            Pipes personalizados e built-in
          </p>

        </div>
      </div>

    </div>


    <div class="footer">

      <h2>Equipe do Projeto</h2>

      <table id="tabelamat">

        <tr>
          <th>Aluno</th>
          <th>Matrícula</th>
          <th>GitHub</th>
        </tr>

        <tr>
          <td>Ana Anete Higino de V. Pereira</td>
          <td>01816489</td>
          <td>
            <a href="https://github.com/AnaAnet3" target="_blank">
              Github
            </a>
          </td>
        </tr>

        <tr>
          <td>Danilo Lopes Cavalcanti</td>
          <td>01793099</td>
          <td>
            <a href="https://github.com/danilolopescavalcanti" target="_blank">
              Github
            </a>
          </td>
        </tr>

        <tr>
          <td>João Victhor Pereira Caribé de Carvalho</td>
          <td>01799125</td>
          <td>
            <a href="https://github.com/JvCaribe" target="_blank">
              Github
            </a>
          </td>
        </tr>

        <tr>
          <td>João Vitor Vieira Souto</td>
          <td>01795946</td>
          <td>
            <a href="https://github.com/joaovitorvieira729-netizen" target="_blank">
              Github
            </a>
          </td>
        </tr>

        <tr>
          <td>João Lucas Araújo de Almeida</td>
          <td>01793571</td>
          <td>
            <a href="https://github.com/JLucas1127" target="_blank">
              Github
            </a>
          </td>
        </tr>

      </table>

    </div>

  </div>

</ion-content>