<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="cabecalho">
      <ion-title>
        Home
      </ion-title>

      <ion-label>
        <a routerLink="/home" id="labelred">Home</a>
        <a routerLink="/busca" id="labelred">Buscar</a>
        <a href="https://github.com/JvCaribe/projetoMobileCoding" target="_blank" id="labelred">
          GitHub
          <ion-icon src="assets/icon/logo-github.svg" aria-label="Repositório no Github"></ion-icon>
        </a>
      </ion-label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h1>Bem-vindo à página inicial!</h1>
  <h2> Fazer a introdução aqui, com nossos nomes, matriculas, link pro github de cada</h2>
  <br>
<h3>Falar sobre o que serão nossas duas páginas e quais os redirecionamentos. junto com que API usamos. <br> Fazer uma estilização legal</h3>
  <h2>Baixa prioridade. Parte mais fácil do trabalho, fazer essa página por último</h2>


  <br><br><br><br>
  <hr>
  <div class="container">
    <h4>Observações</h4>

    <p> Basicamente todos os componentes são puxados da API do ionic, então pra chamar eles vc tem q usar a tag
      específica deles, q é o nome do componente entre chaves <strong>"ion-nomedocomponente"</strong> <br> E depois, o
      mais <strong>IMPORTANTE</strong>, vc tem que adicionar a mesma tag no arquivo page.ts da página, no caso dessa
      aqui é o home.page.ts. <br>
      Aí você coloca no <strong>import do começo da página ts</strong> e depois nos imports do
      <strong>@Components</strong>
      <br> Mas creio que não será necessário adicionar mais componentes, a maioria já adicionei só é mais estilização
      mesmo.
    </p>
    <p>Pra mudar o fundo tem q ir na tag ion-content, q é a MÃE de todas aqui, tudo tá dentro dela, é a primeira tag.
      Apanhei bastante pra descobrir isso</p>
    <br>
    <ul>
      <h2>Tarefas -</h2>
      <li>
        <p>Bom mudar esse fundo preto e estilizar bem, pode clicar na página 2 em amarelo que o fundo eu tava com a
          ideia de ser daquela cor lá. Ele ta no infos.page.scss <br> Tarefa da estilização. </p>
      </li>
      <li>
        <p>
          Ajeitar o logo do github lá em cima, ele tá empurrando todas as letras pra baixo na barra, tá feio. Tem que
          ficar alinhado verticalmente os nomes em vermelho <br> Tarefa da estilização.
        </p>
      </li>
      <li>
        <p>
          Ajeitar o card, tem que ficar bonitão, com titulo, genero e ano, tem que puxar os dados da API, o card é o
          componente mais complexo, tem que ser o mais bonito também. <br> Tarefa do httpclient. Esqueleto tá pronto já.
        </p>
      </li>
      <li>
        <p> Tirar a barra cinza que sobra embaixo do card, ver se isso nao tem a ver com as coisas que escrevi, mas
          mesmo sem elas ainda sobra a barra cinza <br> Tarefa da estilização.</p>
      </li>
      <li>
        <p> Ajeitar o redirecionamento pra página 2, tem que ser clicando no título do card, e tem que puxar os dados do
          filme específico pra lá, ou seja, quando <br> clicar no título do card, tem que puxar os dados daquele filme
          específico pra página 2. <br> Tarefa do httpclient também.
        </p>
      </li>
      <li>Como dito, <strong>a página 2 escrita em amarelo no menu em cima não irá existir, ela é feita pra gente
          navegar facilmente pelas páginas do codigo</strong></li>
    </ul>
  </div>

  <br>

</ion-content>