<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="cabecalho">
      <ion-title>
        Buscador de Filmes
      </ion-title>

      <ion-label>
        <a routerLink="/home" id="labelred">Home</a>
        <a routerLink="/infos" id="labelred" style="color: #ffff00;">Página 2</a>
        <a href="https://github.com/JvCaribe/projetoMobileCoding" target="_blank" id="labelred">
          GitHub
          <ion-icon src="assets/icon/logo-github.svg" aria-label="Repositório no Github"></ion-icon>
        </a>
      </ion-label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">





  <br>
  <div class="pesquisa">
    <input type="text" id="titulo" placeholder="Digite o nome do filme" />
    <button onclick="buscarFilme()">Buscar</button>
  </div>





  <div class="card">

    <ion-card>
      <img id="card-image" alt="Project Hail Mary"
        src="https://www.movieposters.com/cdn/shop/files/project-hail-mary_m85ivk80_72e847b5-d079-4e97-8bae-250fd1b7f451_1024x1024.jpg?v=1771941117" />
      <!-- src="https://images.euronews.com/articles/stories/09/69/16/75/1536x864_cmsv2_e27f2502-45bb-5c3f-9010-f4453dc87ed3-9691675.jpg"  -->
      <ion-card-header>
        <ion-card-title>
          <ion-button fill="clear" routerLink="/infos">Project Hail Mary</ion-button>
        </ion-card-title>
        <ion-card-subtitle>Ficção Científica</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content></ion-card-content>
    </ion-card>

    <ion-card>
      <img id="card-image" alt="Batman"
        src="https://m.media-amazon.com/images/M/MV5BMmU5NGJlMzAtMGNmOC00YjJjLTgyMzUtNjAyYmE4Njg5YWMyXkEyXkFqcGc@._V1_QL75_UX380_CR0,0,380,562_.jpg" />

      <ion-card-header>
        <ion-card-title> <ion-button fill="clear">Batman</ion-button> </ion-card-title>
        <ion-card-subtitle>Ação</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Esse poster e o da esquerda são DEMONSTRAÇÕES de como tem que ficar quando a pesquisa for feita, ou seja quando o user digitar o nome do filme. 
        <br> <strong>O esqueleto é o da direita. Sem sinopse.</strong>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img id="card-image" alt="dados.Poster" src="https://ionicframework.com/docs/img/demos/card-media.png" />

      <ion-card-header>
        <ion-card-title> <ion-button fill="clear">dados.Title</ion-button> </ion-card-title>
        <ion-card-subtitle>dados.Genre</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Ano:
        <a>dados.Year</a>
        <br>
        lembrando que o dados.title tem que puxar pra página 2, o que tá em amarelo na barra não irá existir, o
        redirecionamento vai vim de clicar no título do card.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img id="card-image" alt="Project Hail Mary" src="https://ionicframework.com/docs/img/demos/card-media.png" />

      <ion-card-header>
        <ion-card-title> <ion-button fill="clear">Título</ion-button> </ion-card-title>
        <ion-card-subtitle>Gênero</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Ano
      </ion-card-content>
    </ion-card>



  </div>

  <hr>
  <div class="container">
    <h4>Observações</h4>

    <p> Basicamente todos os componentes são puxados da API do ionic, então pra chamar eles vc tem q usar a tag
      específica deles, q é o nome do componente entre chaves <strong>"ion-nomedocomponente"</strong> <br> E depois, o
      mais <strong>IMPORTANTE</strong>, vc tem que adicionar a mesma tag no arquivo page.ts da página, no caso dessa
      aqui é o home.page.ts. <br>
      Aí você coloca no <strong>import do começo da página ts</strong> e depois nos imports do
      <strong>@Components</strong>
      <br> Mas creio que não será necessário adicionar mais componentes, a maioria já adicionei só é mais estilização mesmo.
    </p>
    <p>Pra mudar o fundo tem q ir na tag ion-content, q é a MÃE de todas aqui, tudo tá dentro dela, é a primeira tag. Apanhei bastante pra descobrir isso</p>
    <br>
    <ul> <h2>Tarefas -</h2>
      <li>
        <p>Bom mudar esse fundo preto e estilizar bem, pode clicar na página 2 em amarelo que o fundo eu tava com a ideia de ser daquela cor lá. Ele ta no infos.page.scss <br> Tarefa da estilização. </p> 
      </li>
      <li>
        <p>
          Ajeitar o logo do github lá em cima, ele tá empurrando todas as letras pra baixo na barra, tá feio. Tem que ficar alinhado verticalmente os nomes em vermelho <br> Tarefa da estilização.
        </p>
      </li>
      <li>
        <p>
          Ajeitar o card, tem que ficar bonitão, com titulo, genero e ano, tem que puxar os dados da API, o card é o componente mais complexo, tem que ser o mais bonito também. <br> Tarefa do httpclient. Esqueleto tá pronto já.
        </p>
      </li>
      <li>
        <p> Tirar a barra cinza que sobra embaixo do card, ver se isso nao tem a ver com as coisas que escrevi, mas mesmo sem elas ainda sobra a barra cinza <br> Tarefa da estilização.</p>
      </li>
      <li>
        <p> Ajeitar o redirecionamento pra página 2, tem que ser clicando no título do card, e tem que puxar os dados do filme específico pra lá, ou seja, quando <br> clicar no título do card, tem que puxar os dados daquele filme específico pra página 2. <br> Tarefa do httpclient também.
        </p>
      </li>
      <li>Como dito, <strong>a página 2 escrita em amarelo no menu em cima não irá existir, ela é feita pra gente navegar facilmente pelas páginas do codigo</strong></li>
    </ul>

    
    <br>
  </div>
  <p>Clique aqui para ver os <a target="_blank" rel="noopener noreferrer"
      href="https://ionicframework.com/docs/components">Componentes de
      UI</a> que podem ser usados</p>

</ion-content>