<ion-header [translucent]="true">
    <ion-toolbar>
        <div class="cabecalho">
            <ion-title>
                Detalhes do Filme
            </ion-title>

            <ion-label>
                <a routerLink="/home" id="labelred">Home</a>
                <a routerLink="/busca" id="labelred">Busca</a>
                <a href="https://github.com/JvCaribe/projetoMobileCoding" target="_blank" id="labelred">GitHub</a>
            </ion-label>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="meio">

        <div>
            <img class="poster" [src]="poster" alt="poster">
        </div>

        <div class="detalhes">

            <div class="title">{{ title }}</div>

            <div class="infos">
                <span>Ano de lançamento: {{ anoLnc }}</span>
                <span>Tipo: {{ tipo }}</span>
                <span id="classificacao">Classificação: {{ rated | classificacao }}</span>
                <!-- PIPES PERSONALIZADAS
                TRANSFORMAR CLASSIFICAÇÃO US PARA BR: Feito
                DIRETIVA PERSONALIZADA
                MUDAR O FUNDO DA CLASSIFICAÇÃO PARA O CORRETO-->
                <span>Gênero: {{ genero }}</span>
            </div>

            <div class="informacoes">
                <span id="textoavaliacao">
                    <img id="metascore" src="https://upload.wikimedia.org/wikipedia/commons/f/fe/Metascore.png"
                        alt="MetaScore logo">
                    <span id="metascoreRating">{{ metascoreRating }}</span>
                </span>
                <!-- DIRETIVA PERSONALIZADA 
                 MUDAR O FUNDO DA NOTA METASCORE-->

                <span id="textoavaliacao">
                    <img id="rottentomatoes"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5b/Rotten_Tomatoes.svg/3840px-Rotten_Tomatoes.svg.png"
                        alt="Rotten Tomatoes logo">
                    <span id="rottenRating">{{ rottenRating }}</span>
                </span>

                <span id="textoavaliacao">
                    <img id="imdb"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/IMDB_Logo_2016.svg/1280px-IMDB_Logo_2016.svg.png"
                        alt="IMDb logo">
                    <span id="imdbRating">{{ imdbRating }}</span>
                </span>

                <span>
                    <a id="linkImdb" [href]="linkImdb" target="_blank">
                        Ver página no IMDb
                    </a>
                </span>

            </div>


            <p class="sinopse">
                {{ plot }}
            </p>

            <div class="diretor">
                <p>
                    <img id="oscar" src="https://cdn-icons-png.flaticon.com/512/2589/2589426.png">
                    Duração: <span>{{ duracao }}</span>
                </p>

                <p>
                    <img id="oscar" src="https://cdn-icons-png.flaticon.com/512/412/412810.png">
                    Diretor(a): <span>{{ direcao }}</span>
                </p>

                <p>
                    <img id="oscar" src="https://cdn-icons-png.flaticon.com/512/33/33308.png">
                    Elenco: <span>{{ elenco }}</span>
                </p>
            </div>

            <br>

            <div class="premios">
                <p>
                    <img id="oscar" src="https://scroar.net/wp-content/uploads/2023/03/Oscars-675x900.png">
                    Premiações: <span>{{ premios }}</span>
                </p>
            </div>

        </div>

    </div>
    <div class="meio-data">
        <p class="dtBusca">Data da busca: {{ dataReq | date: 'dd/MM/yyyy'}}, às {{ dataReq | date: 'HH:mm' }}.</p>
    </div>

</ion-content>