@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Bree+Serif");
@import url("https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap");

ion-content {
    --font-family: Arial;
    --color: rgb(216, 213, 213);
    --background: rgb(177, 176, 176);
    --background-size: cover;
    --background-position: center;
    --background-attachment: fixed;
    --padding: 60px 150px;
}

// url("https://e1.pxfuel.com/desktop-wallpaper/385/811/desktop-wallpaper-artstation-stranger-things-upside-down.jpg")

ion-toolbar {
    --background: rgba(0, 0, 0, 0.6);
    --color: #e2dfdf;
    --border-radius: 0px 0px 12px 12px;
    --box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
    height: 60px;
    justify-content: center;
    align-items: center;
}

.cabecalho {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#labelred {
    text-decoration: none;
    padding: 10px;
    color: #cacaca;
    font-size: 1.2em;
    font-weight: bold;
}

.meio {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    gap: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
    max-width: 1200px;
    padding: 30px;
    backdrop-filter: blur(2px);
    margin: 0 auto;
    margin-top: 40px;
}

.meio-data {
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    gap: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
    max-width: 380px;
    height: 80px;
    padding: 10px;
    backdrop-filter: blur(2px);
    margin: 0 auto;
    margin-top: 25px;
}

.dtBusca {
    font-size: 18px;
    color: #cacaca;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.poster {
    // flex: 0 250px;
    display: inline-block;
    overflow: hidden;
    width: 380px;
    height: 562px;
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.45s ease-in-out;
    align-self: center;
}

.poster:hover {
    transform: scale(1.12);
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    filter: brightness(1.1);
}

.detalhes {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    font-size: 2em;
    font-weight: bold;
    color: #cfd8dc;
    margin-bottom: 12px;
    margin-top: 5px;
}

.infos {
    color: #bbb9b9;
    font-size: 16px;
    margin-bottom: 18px;
    margin-top: 5px;
}

.infos span {
    margin-right: 15px;
}

#classificacao{
    font-weight: bold;
    color: #e2dfdf;
}

.sinopse,
.diretor {
    font-size: 1.1em;
    line-height: 1.6em;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 15px;
    border-radius: 8px;
    color: #e2dfdf;
}

.premios {
    font-size: 17px;
    line-height: 1.6em;
    background-color: rgba(255, 255, 166, 0.36);
    padding: 10px 10px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.informacoes {
    padding-bottom: 5px;
    font-size: 15px;
}

.diretor {
    color: #bbb9b9;
    font-size: 16px;
    margin-bottom: 5px;
    padding: 10px 10px;
}

#linkImdb {
    background-color: rgb(245, 197, 24);
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 13px;
    padding: 10px 15px;
    border-radius: 60px;
    display: inline-block;
    text-decoration: none;
    align-self: center;
    align-items: center;
    margin-left: 10px;
}

#linkImdb:hover {
    background-color: #000000;
    color: rgb(245, 197, 24);
    transition: transform 0.3s ease-out, background-color 0.2s ease-out, color 0.3s ease-out;
}

#metascore {
    width: 37px;
    height: 31px;
    vertical-align: middle;
    padding-right: 5px;
}

#oscar {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    padding-right: 1px;
    margin-right: 3px;
}

#oscar:hover {
    transform: scale(1.4);
    transition: transform 0.4s ease-out;
}

#imdb {
    width: 40px;
    height: 25px;
    vertical-align: middle;
    padding-right: 5px;
}

#rottentomatoes {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    padding-right: 5px;
}

#textoavaliacao {
    font-size: 1em;
    margin-left: 8px;
    padding-right: 8px;
    padding-bottom: 3px;
}

#classif {
    padding-right: 0px;
}
#genero {
    margin-left: 0px;
    padding-left:0px;
}


.avaliacaoimdb,
.avaliacaotomatoes {
    display: flex;
    align-items: center;
    margin-left: 35px;
    gap: 8px;
}

#disponivel {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1em;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}