<ion-header [translucent]="true">
    <ion-toolbar>
        <div class="cabecalho">
            <ion-title>
                Detalhes do Filme
            </ion-title>
            <ion-label>
                <a routerLink="/home" id="labelred">Home</a>
                <a routerLink="/busca" id="labelred">Busca</a>
                <a routerLink="/infos" id="labelred">Página 2</a>
                <a href="https://github.com/JvCaribe/projetoMobileCoding" target="_blank" id="labelred">GitHub</a>
            </ion-label>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="meio">

        <div>
            <img class="poster" src="{{poster}}" alt="poster">
        </div>

        <div class="detalhes">
            <div class="title">{{title}}</div>
            <div class="infos">
                <span id="anoLnc">Ano de lançamento {{anoLnc}}</span>
                <span id="tipo">Tipo {{tipo}}</span>
                <span id="rated">Classificação {{rated}}</span>
                <span id="genero">Gênero {{genero}}</span>
            </div>

            <div class="informacoes">
                <span id="textoavaliacao">
                    <a>
                        <img id="metascore" src="https://upload.wikimedia.org/wikipedia/commons/f/fe/Metascore.png"
                            alt="MetaScore logo" title="metascore">
                        <a id="metascoreRating">{{metascoreRating}}</a>
                    </a>
                </span>

                <span id="textoavaliacao">
                    <a>
                        <img id="rottentomatoes"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5b/Rotten_Tomatoes.svg/3840px-Rotten_Tomatoes.svg.png?utm_source=commons.wikimedia.org&utm_campaign=index&utm_content=thumbnail"
                            alt="Rotten Tomatoes logo" title="Rotten Tomatoes">
                        <a id="rottenRating">{{rottenRating}}</a>
                    </a>
                </span>

                <span id="textoavaliacao">
                    <a>
                        <img id="imdb"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/IMDB_Logo_2016.svg/1280px-IMDB_Logo_2016.svg.png"
                            alt="IMDb logo" title="IMDb">
                        <a id="imdbRating">{{imdbRating}}</a>
                    </a>
                </span>

                <span>
                    <a id="linkImdb" href="{{linkImdb}}" target="_blank">
                        Ver página no IMDb
                    </a>
                </span>
            </div>
            <br>
            <div class="sinopse">
                <a id="plot">{{plot}}</a>
            </div>
            <br>
            <div class="diretor">
                <span>
                    <img id="oscar" src="https://cdn-icons-png.flaticon.com/512/2589/2589426.png" alt="camera">
                    Duração: <a id="duracao">{{duracao}}</a>
                </span>
                <br> <br>
                <span>
                    <img id="oscar" src="https://cdn-icons-png.flaticon.com/512/412/412810.png" alt="Logo Diretor"
                        title="Diretor">
                    Diretor(a):
                    <a id="direcao">{{direcao}}</a>
                </span>
                <br> <br>
                <span>
                    <img id="oscar" src="https://cdn-icons-png.flaticon.com/512/33/33308.png" alt="Logo Elenco"
                        title="Elenco">
                    Elenco:
                    <a id="elenco">{{elenco}}</a>
                </span>
            </div>
            <br>
            <div class="premios">
                <span>
                    <a>
                        <img id="oscar" src="https://scroar.net/wp-content/uploads/2023/03/Oscars-675x900.png"
                            alt="Oscars logo" title="metascore">
                        Premiações:
                        <a id="premios">{{premios}}</a>
                    </a>
                </span>
            </div>
        </div>
    </div>

</ion-content>